{
  "presets": [
    "es2015",
    "stage-0",
    [
      "@babel/preset-env",
      {
        "targets": "defaults"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@loadable/babel-plugin"]
}
